html {
    font-family: verdana;
}

h1 {
    font-family: verdana;
    color:olive;
    padding-bottom: 40px;
}

#lable {
    font-size: 20px;
}

#radius {
    padding: 10px;
    font-size: 20px;
}

#btn {
    padding: 10px 80px;
    font-size: 30px;
    color:slategrey;
    background-color:whitesmoke;
    cursor: pointer;
}