#container {
    font-family: arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

#rollBtn {
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: rgb(36, 117, 224);
    color: white;
}

#rollBtn:hover {
    background-color: rgb(232, 69, 69);
}

input {
    margin: 10px;
    font-size: 2rem;
    width: 10rem;
}

#diceImages {
    margin: 25px;
}

#diceImages img {
    width: 100px;
    height: 100px;
    margin: 10px;
}