h1{
    text-align: center;
}

h2 {
    color: teal;
}

label {
    font-family: verdana;
    font-size: 20px;
}

#age, #price{
    padding: 10px 15px;
    font-size: 2rem;
    text-align: center;
    width:6rem;
}

p {
    font-size: 20px;
    font-family: verdana;
    color: red;
}