html {
    background-color: whitesmoke;
}

h1{
    font-family: Helvetica;
    font-size: 3rem;
    text-align: center;
}

#label {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: helvetica;
}

.btnContainer{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin:auto 20%;
}

.btns {
    padding: 10px 20px;
    font-size: 1.5em; 
    color: aliceblue;
    background-color: tomato;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.25s;
}

.btns:hover {
    background-color: rgb(167, 2, 2);
}