html {
    background-color: rgb(42, 42, 42);
}

h1 {
    font-family: verdana;
    font-size: 3rem;
    text-align: center;
    color: rgb(170, 160, 26);
}

#lable,
#result {
    color: aliceblue;
    font-family: Verdana;
    font-size: 1.5rem;
    text-align: center;
}

.calculating {
    text-align: center;
}

#marks {
    padding: 20px 0;
    width: 90px;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
}

#submitBtn {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: aliceblue;
    background-color: rgb(207, 20, 20);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

#submitBtn:hover {
    background-color: rgb(7, 89, 108);
}