html {
    background-color: rgb(249, 230, 249);
}

h1 {
    font-family: helvetica;
    text-align: center;
    color: purple;
}

label {
    font-family: verdana;
    font-size: 1.5rem;
}

#result {
    font-family: arial;
    font-size: 20px;
    padding: 10px 15px;
    width:60px;
    text-align: center;
}

#submit {
    padding: 10px 20px;
    font-family: helvetica;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: red;
    background-color:greenyellow;
    border-radius: 10px;
    transition: background-color 0.25s;
}

#submit:hover {
    background-color: turquoise;
}

p {
    font-family: verdana;
    font-size: 1.5em;
    color: blue;
}