html {
    background-color: rgb(214, 239, 248);
    font-family: verdana;
}

#h1 {
    color: rgb(25, 184, 16);
    font-family: verdana;
    font-size: 40px;
    margin-top: 10%;
    text-align: center;
}

label {
    font-size: 25px;
}

#myText {
    padding: 10px;
    font-size: 20px;
}

#btn {
    padding: 10px;
    font-size: 20px;
    background-color: coral;
    margin-bottom: 20px;
    cursor: pointer;
}

#p1 {
    font-size: 20px;
    font-weight: bold;
}
