html {
    background-color: powderblue;
}

h1 {
    text-align: center;
    font-family: helvetica;
    
}

label {
    font-family: verdana;
    font-size: 1.2rem;
}

input {
    font-family:monospace;
    text-align: center;
    font-size: 17px;
    padding: 10px 15px;
}

#email {
    width: 300px;
}

.container {
    text-align: center;
}

button {
    padding: 15px 25px;
    font-size: 2em;
    font-family: verdana;
    background-color: rgb(222, 22, 92);
    color: mintcream;
    cursor: pointer;
    transition: background-color, color 0.25s;
}

button:hover {
    background-color: mintcream;
    color: rgb(222, 22, 92);
}

p {
    font-family: verdana;
    font-size: 18px;
}